<h2>work in Progress</h2>
 <div class="col-md-6 user-container">
    <h2 class="text-center">Edit Movie</h2>
    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="movieName">Movie Name:</label>
        <input type="text" formControlName="movieName" placeholder="Movie Name" name="movieName" class="form-control" id="movieName" readonly="true">
      </div>
  
      <div class="form-group">
        <label for="movieCategory">Category</label>
        <input formControlName="movieCategory" placeholder="Movie Category" name="movieCategory" class="form-control" id="movieCategory">
      </div>
  
      <div class="form-group">
        <label for="movieRating">Rating</label>
        <input formControlName="movieRating" placeholder="Rating" name="movieRating" class="form-control" id="movieRating">
      </div>
  
      <div class="form-group">
        <label for="age">Release Date</label>
        <input type="text" formControlName="movieReleaseDate" placeholder="Date" name="movieReleaseDate" class="form-control" id="movieReleaseDate">
      </div>
  
      <div class="form-group">
        <label for="movieBudget">Budget</label>
        <input type="text" formControlName="movieBudget" placeholder="Budget" name="movieBudget" class="form-control" id="movieBudget">
      </div>
  
      <button class="btn btn-success">Update</button>
    </form>
  </div>